<!DOCTYPE html>
<html>
<head>
  <title>Email</title>
</head>
<body>
  <p>Hello <%= name %>,</p>
  <p>Thank you for your inquiry. We will get back to you as soon as possible.</p>
  <p>Thank you for your time and consideration.</p>
  <p>Sincerely,</p>
  <p><%= app_name %></p>
</body>
</html>
